.App {
  text-align: center;
}

.links {
  position: absolute;
  top: 55px;
  left: -15px;
  width: 20000px;
  height: 150px;
  background-color: #00695f;
  overflow: hidden;
}

.hidden {
  display: block;
}

.links a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
  padding: 7px;
}
